.aboutMe p{
    text-align: left;
    padding-left: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.aboutMe h1{
    padding-top: 10px;
    text-decoration: underline;
}
#faq{
    text-decoration: underline;
}

#social{
    text-decoration: underline;
}