header{
    background-color: #abceff;
    color: rgb(13, 13, 13);
    text-align: center;
    padding: 1em;
    position: sticky;
    font-family: "Signika", sans-serif;
    font-weight: 100;

}
header .nav-link{
    color: rgb(0, 0, 0);
}
header .nav-link:hover{
    color: rgb(204, 143, 244);
    text-decoration: underline;
}
main{
    padding-top: 45px;
}

.carousel-item img{
    width: 100%;
    height: 500px;
}